/* Hintergrund, Border, Dimensionen */
.footer{
    background-color: black;
    color: #FFFFFF;
    padding: 50px 5% 50px 5%;
    height: 280px;
    border-top: 1px solid white;
}

/* text kleiner bei kleinerem screen */
@media screen and (max-width: 768px) {
    .footer p{
        font-size: 12px;
    }
}